@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  supported-color-schemes: light dark;
  color-scheme: light dark;
}

div[data-remark-code-title] {
  @apply bg-zinc-300 dark:bg-zinc-800 text-sm text-zinc-800 dark:text-zinc-400 px-4 font-mono py-2 rounded-t-md border border-zinc-700/70;
}

/* Dark mode title modifier */
div[data-remark-code-title] + button + div > .astro-code,
/* Light mode title modifier */
div[data-remark-code-title] + button + div + div > .astro-code {
  @apply mt-0 rounded-t-none border-t-0;
}

pre {
  @apply border border-zinc-700/70;
}

.code-snippet {
  @apply relative;
}

.code-snippet-copy-button {
  @apply absolute rounded text-zinc-800 dark:text-zinc-300 text-sm font-bold top-[0.40rem] right-2 p-2 bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-700 dark:hover:bg-zinc-600;
}

div[data-remark-code-title] + .code-snippet-copy-button {
  @apply top-11;
}

.light-theme-code-snippet {
  display: block;
}

.dark-theme-code-snippet {
  display: none;
}

.dark .light-theme-code-snippet {
  display: none;
}

.dark .dark-theme-code-snippet {
  display: block;
}
