---
import { Image } from "@astrojs/image/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostSnippet from "../components/PostSnippet.astro";
import type { Frontmatter } from "../frontmatter";

const posts = (await Astro.glob<Frontmatter>("../pages/blog/**/*.md"))
  .filter((post) => !post.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishedOn).getTime() -
      new Date(a.frontmatter.publishedOn).getTime()
  );
---

<BaseLayout>
  <div
    class="grid sm:grid-cols-2 gap-8 justify-items-center sm:justify-items-end pb-8"
  >
    <div>
      <h1>
        Hi there, I'm Tyler.{" "}
        <span role="img" aria-label="hand wave"> 👋</span>
      </h1>

      <p>
        For as long as I can remember, I've loved everything technology. When I
        discovered that I could create technology with software, it became my
        second love. It's now my mission to help others discover the beauty in
        software that I've found.
      </p>
    </div>

    <Image
      src="/assets/images/me.jpg"
      alt="Me at work"
      format="webp"
      class="rounded-full"
      width={208}
      aspectRatio="1:1"
    />
  </div>

  <h2 class="uppercase text-green-600 dark:text-green-400">
    Recently Published
  </h2>

  <main class="grid gap-6">
    {
      posts.map((post) => (
        <PostSnippet
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          url={post.url}
        />
      ))
    }
  </main>
</BaseLayout>
