.DarkMode-track.on {
  transition: background-color 250ms ease;
}

.DarkMode-track {
  transition: background-color 250ms ease;
}

.DarkMode-knob.on {
  transform: translateX(1rem);
  transition: transform 250ms ease;
}

.DarkMode-knob {
  transition: transform 250ms ease;
}
