---
interface Props {
  to: string;
  isCurrent: boolean;
}

const { to, isCurrent } = Astro.props;
---

<a
  href={to}
  class={`group mx-2 text-lg no-underline relative ${
    isCurrent
      ? "text-black dark:text-white"
      : "text-gray-500 hover:text-black dark:hover:text-white dark:text-gray-400"
  }`}
>
  <slot />
  <span
    class={`h-0.5 left-0 -bottom-1 w-full block absolute ${
      isCurrent
        ? "bg-black dark:bg-white"
        : "scale-x-0 group-hover:scale-x-100 transition-transform origin-left group-hover:bg-black dark:group-hover:bg-white"
    }`}></span>
</a>
