---
import type { Tag } from "../content/config";

type Color =
  | "red"
  | "orange"
  | "yellow"
  | "green"
  | "teal"
  | "blue"
  | "purple"
  | "pink";

interface Props {
  // Use tag type
  tag?: Tag;
  color?: Color;
}

const tagMapping: { [key in Tag]: Color } = {
  elixir: "purple",
  gatsby: "purple",
  javascript: "yellow",
  mdx: "yellow",
  personal: "green",
  phoenix: "orange",
  react: "blue",
  stripe: "blue",
  tailwindcss: "teal",
  typescript: "blue",
};

const { tag, color } = Astro.props;

const colorClasses: { [key in Color]: string } = {
  red: "bg-red-300 text-red-800",
  orange: "bg-orange-300 text-red-800",
  yellow: "bg-yellow-300 text-red-800",
  green: "bg-emerald-300 text-emerald-800",
  teal: "bg-teal-300 text-emerald-800",
  blue: "bg-blue-300 text-blue-800",
  purple: "bg-purple-300 text-purple-800",
  pink: "bg-pink-300 text-pink-800",
};

let pillClasses = colorClasses.yellow;

if (tag) {
  pillClasses = colorClasses[tagMapping[tag]];
} else if (color) {
  pillClasses = colorClasses[color];
}
---

<span
  class:list={[
    "text-xs uppercase font-semibold w-max h-6 px-2 py-1 rounded-full",
    pillClasses,
  ]}
>
  <slot />
</span>
