---
import PostSnippet from "../components/PostSnippet.astro";
import type { Frontmatter } from "../frontmatter";

const posts = (await Astro.glob<Frontmatter>("../pages/blog/**/*.mdx"))
  .filter((post) => !post.frontmatter.draft)
  .sort((a, b) => new Date(b.frontmatter.publishedOn).getTime() - new Date(a.frontmatter.publishedOn).getTime());
---

<h2 class="text-2xl font-bold pb-4 uppercase text-purple-600 dark:text-purple-400">Recently Published</h2>

<div class="grid gap-6">
  {
    posts.map((post) => (
      <PostSnippet title={post.frontmatter.title} description={post.frontmatter.description} url={post.url} />
    ))
  }
</div>
