---
import type { Step } from "../content/config";

interface Props {
  steps: Step[];
}

const { steps } = Astro.props;

const activeStepIndex = steps.findIndex(
  (step) => step.href == Astro.url.pathname
);

let nextStep = null;

if (activeStepIndex < steps.length) {
  nextStep = steps.at(activeStepIndex + 1);
}

let previousStep = null;

if (activeStepIndex > 0) {
  previousStep = steps.at(activeStepIndex - 1);
}
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-2">
  {
    previousStep && (
      <a
        class="group grid gap-2 w-full p-4 rounded-md hover:bg-zinc-200 dark:hover:bg-zinc-700/75 transition-colors border border-zinc-300 dark:border-zinc-700/70"
        href={previousStep.href}
      >
        <div class="text-xl font-semibold relative w-max group-hover:text-black dark:group-hover:text-white">
          {previousStep.title}
          <span class="h-0.5 left-0 -bottom-1 w-full block absolute group-hover:scale-x-100 transition-transform scale-x-0 ease-in origin-left group-hover:bg-black dark:group-hover:bg-white" />
        </div>
        <span class="flex gap-1 items-center text-zinc-500 dark:text-zinc-400">
          {/* Heroicons: arrow-left */}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
            />
          </svg>
          Previous
        </span>
      </a>
    )
  }
  {
    nextStep && (
      <a
        rel="prefetch"
        class="group grid md:col-start-2 justify-items-end gap-2 w-full p-4 rounded-md hover:bg-zinc-200 dark:hover:bg-zinc-700/75 transition-colors border border-zinc-300 dark:border-zinc-700/70"
        href={nextStep.href}
      >
        <div class="text-xl font-semibold relative w-max group-hover:text-black dark:group-hover:text-white">
          {nextStep.title}
          <span class="h-0.5 left-0 -bottom-1 w-full block absolute group-hover:scale-x-100 transition-transform scale-x-0 ease-in origin-left group-hover:bg-black dark:group-hover:bg-white" />
        </div>
        <span class="flex gap-1 items-center text-zinc-500 dark:text-zinc-400">
          Next
          {/* Heroicons: arrow-right */}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
            />
          </svg>
        </span>
      </a>
    )
  }
</div>
