@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  supported-color-schemes: light dark;
  color-scheme: light dark;

  --site-background: rgb(249, 251, 252);
  --site-text: #393e41;

  --magenta: #dd4a68;
  --purple: #6b46c1;
}

body.dark {
  --site-background: #18181b;
  --site-text: #ffffff;
  --purple: theme("colors.purple.500");
}

body {
  word-wrap: break-word;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  line-height: 1.6;
  margin: 0;
  background-color: var(--site-background);
  color: var(--site-text);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  color: var(--purple);
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  max-width: 100%;
  margin-bottom: 1.45rem;
}
h1 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.1;
}
h2 {
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  border-top: 1px solid theme("colors.gray.700");
}
h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.1;
}
h4 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.1;
}
h6 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 0.6rem;
  line-height: 1.1;
}
hgroup {
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
  list-style: disc;
}
ol {
  margin-left: 1.45rem;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: decimal;
}
dl {
  margin-bottom: 1.45rem;
}
dd {
  margin-bottom: 1.45rem;
}

p {
  margin-bottom: 1rem;
}
figure {
  margin-bottom: 1.45rem;
}
pre {
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-bottom: 1.45rem;
}
blockquote {
  font-size: 16px;
  background-color: rgb(121 72 232 / 20%);
  border-left-style: solid;
  border-left-width: 8px;
  border-color: var(--purple);
  padding: 16px;
  margin: 16px -8px;
  border-radius: 4px;
}
hr {
  margin-bottom: 1.25rem;
  background-color: #a0aec0;
  border: none;
  height: 1px;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
code {
  font-size: 1rem;
  line-height: 1.45rem;
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.page img {
  border-radius: 0.3em;
  box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.08);
}

.gatsby-resp-image-wrapper,
.gatsby-image-wrapper {
  border-radius: 0.3em;
  box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.08);
}

.gatsby-resp-image-image {
  border-radius: 0.3em;
}
