@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  supported-color-schemes: light dark;
  color-scheme: light dark;

  --site-background: theme("colors.white");
  --site-text: theme("colors.black");
  --purple: theme("colors.purple.600");
  --divider: theme("colors.gray.400");
  --table-of-contents-text: theme("colors.gray.900");
  --anchor-header-icon-fill: theme("colors.black");
  --blockquote-bg: theme("colors.purple.100");
  --blockquote-border: theme("colors.purple.400");
}

body.dark {
  --site-background: theme("colors.gray.900");
  --site-text: theme("colors.white");
  --purple: theme("colors.purple.400");
  --divider: theme("colors.gray.700");
  --table-of-contents-text: theme("colors.white");
  --anchor-header-icon-fill: theme("colors.white");
  --blockquote-bg: rgb(121 72 232 / 20%);
  --blockquote-border: theme("colors.purple.800");
}

body {
  word-wrap: break-word;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  line-height: 1.6;
  margin: 0;
  background-color: var(--site-background);
  color: var(--site-text);
}
a {
  color: var(--purple);
  background-color: transparent;
  text-decoration: underline;
}
a:active,
a:hover {
  outline-width: 0;
}

ul {
  margin-left: 1.45rem;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: disc;
}
ol {
  margin-left: 1.45rem;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: decimal;
}
li {
  margin-bottom: calc(1.45rem / 2);
}

h1 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.1;
}
h2 {
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  border-top: 1px solid var(--divider);
}
h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.1;
}
h4 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.1;
}
h6 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  font-size: 0.6rem;
  line-height: 1.1;
}
p {
  margin-bottom: 1rem;
}
pre {
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
blockquote {
  font-size: 16px;
  background-color: var(--blockquote-bg);
  border-left-style: solid;
  border-left-width: 8px;
  border-color: var(--blockquote-border);
  padding: 16px;
  margin: 16px -8px;
  border-radius: 4px;
}
blockquote *:last-child {
  margin-bottom: 0;
}
hr {
  margin-bottom: 1.25rem;
  background-color: var(--divider);
  border: none;
  height: 1px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.page img {
  border-radius: 0.3em;
  box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.08);
}

.gatsby-resp-image-wrapper,
.gatsby-image-wrapper {
  border-radius: 0.3em;
  box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.08);
}

.gatsby-resp-image-image {
  border-radius: 0.3em;
}

/* Style the link for gatsby-remark-autolink-headers */
h2 > a.anchor.before {
  top: 1rem;
}

.anchor.before {
  fill: var(--anchor-header-icon-fill);
}

#table-of-contents {
  display: none;
}

@media (min-width: 1380px) {
  #table-of-contents {
    display: block;
  }

  .layout-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 288px minmax(0px, 1fr) 288px;
  }
}
