/* purgecss start ignore */

/* Light Theme */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
z
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Dark Theme */

.dark-mode code[class*="language-"],
.dark-mode pre[class*="language-"] {
  color: #c5c8c6;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.dark-mode pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

.dark-mode :not(pre) > code[class*="language-"],
.dark-mode pre[class*="language-"] {
  background: #1d1f21;
}

/* Inline code */
.dark-mode :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.dark-mode .token.comment,
.dark-mode .token.prolog,
.dark-mode .token.doctype,
.dark-mode .token.cdata {
  color: #7c7c7c;
}

.dark-mode .token.punctuation {
  color: #c5c8c6;
}

.dark-mode .namespace {
  opacity: 0.7;
}

.dark-mode .token.property,
.dark-mode .token.keyword,
.dark-mode .token.tag {
  color: #96cbfe;
}

.dark-mode .token.class-name {
  color: #ffffb6;
}

.dark-mode .token.boolean,
.dark-mode .token.constant {
  color: #99cc99;
}

.dark-mode .token.symbol,
.dark-mode .token.deleted {
  color: #f92672;
}

.dark-mode .token.number {
  color: #ff73fd;
}

.dark-mode .token.selector,
.dark-mode .token.attr-name,
.dark-mode .token.string,
.dark-mode .token.char,
.dark-mode .token.builtin,
.dark-mode .token.inserted {
  color: #a8ff60;
}

.dark-mode .token.variable {
  color: #c6c5fe;
}

.dark-mode .token.operator {
  color: #ededed;
  background: none;
}

.dark-mode .token.entity {
  color: #ffffb6;
  /* text-decoration: underline; */
}

.dark-mode .token.url {
  color: #96cbfe;
}

.dark-mode .language-css .token.string,
.dark-mode .style .token.string {
  color: #87c38a;
}

.dark-mode .token.atrule,
.dark-mode .token.attr-value {
  color: #f9ee98;
}

.dark-mode .token.function {
  color: #dad085;
}

.dark-mode .token.regex {
  color: #e9c062;
}

.dark-mode .token.important {
  color: #fd971f;
}

.dark-mode .token.important,
.dark-mode .token.bold {
  font-weight: bold;
}
.dark-mode .token.italic {
  font-style: italic;
}

.dark-mode .token.entity {
  cursor: help;
}

/* Gatsby Prism overrides */
.gatsby-highlight-code-line {
  background-color: var(--highlight-background);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid var(--magenta);
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: var(--background);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.3em;
  margin: 1.45rem 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}
/* purgecss end ignore */
